# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SDAMV1A-M15-M16-EscapeTheRoom.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
